body {
  margin: 0;
}
:root{
  --background-color: rgba(40, 39, 40, 0.9);
  --color-light:white;
}

*{
  box-sizing: border-box;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.enter-page{
  width:100%;
  height:100vh;
  background-color: var(--background-color);
  background-position: center;
  background-image: url("https://camo.githubusercontent.com/ebf18cd85f7aa9dc79fb74c58dc94febf3a6441d8d689cd5a400b2707e19ec0e/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67");
  display:flex;
  justify-content: center;
  align-items: center;
}

.detail-form{
  width:300px;
  height:400px;
  background-color: rgba(40, 39, 40, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding:0 20px;
 
  
}
.detail-form h1{
  color:var(--color-light);
  width:100%;
  text-align: center;
}
.detail-form input{
  width:100%;
  background-color: transparent;
  color:var(--color-light);
  font-size: 16px;
  border: 1px solid white;
  border-radius: 50px;
  padding : 10px 10px;
  margin-top:30px;
}
.detail-form button{
  font-size: 16px;
  background-color: rgba(10, 152, 50, 1);
  color: white;
  border: none;
  width:fit-content;
  padding:5px 10px;
  border-radius:100px;
  position: relative;
  left:100%;
  transform: translate(-100%, 0%);
  font-weight: 600;
  transition: 0.2s;
}
.detail-form p{
  color:white;
}
.detail-form .error{
  margin:0px;
  height:12px;
  font-size: 12px !important;
  color:rgb(205, 17, 17) !important;
}
.detail-form p a{
  color:rgb(92, 168, 231)
}
.detail-form button:hover{
  cursor: pointer;
  background-color: rgb(8, 122, 40);
}
.signup .detail-form input{
  margin-top:15px;
}

.chat-page{
  background-color: rgb(25, 25, 25);
  width:100%;
  height:100vh;
  display: flex;
  padding:50px 0px 0px 50px;
  flex-grow: 1;
  flex-direction: row;
  position: absolute;
  /* justify-content: stretch; */
}
.chat-page .header{
  color:white;
  position:absolute;
  top:25px;
  left:10px;
  font-size: 30px;
  transform: translate(0, -50%);
}
.chat-page .List{
  flex:1;
  min-width:200px;
  max-width:350px;
  background-color: rgba(40, 39, 40, 1);
  border-right:1px solid  rgb(27, 27, 27);
  height: 100%;
  border-top-left-radius: 10px;
  display: flex;
  flex:1;
  flex-direction: column;
  gap:10px;
  transition:0.3s ease-in-out;
  position: relative;
  
}
.chat-page .List .chat-list{
  overflow: scroll;
  padding:2%;
  display: flex;
  width:100%;
  flex-direction: column;
  gap:5px;
}
.chat-page .List .chat-list .list-item{
  width:100%;
  position:relative;
  color:white;
  display: flex;
  border-radius: 5px;
  align-items: center;
  gap:20px;
  padding:10px 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  gap:10px;
  transition: 0.2s ease-in-out;
  border: 1px solid rgb(50, 50, 50);
}
.chat-page .List .chat-list .list-item-on-focus{
  background-color: rgb(65, 65, 65);
}
 .list-item:hover{
  background-color: rgb(65, 65, 65);
}
.list-item:hover .more-button{
  z-index: 2;
}

.chat-page .List .action{
  display: flex;
  flex-direction: column;
  color: white;
  padding:10px;
}
.chat-page .List .action .nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.chat-page .List .action input{
  background-color: rgba(150,150,150,0.1);
  border: none;
  border-radius: 5px;
  padding:4px;
  border-bottom:1px solid white;
  color:white;
  font-size: 14px;
}
.chat-page .List .action input:focus{
  outline: none;
  border-bottom: 1px solid plum;

}
.chat-page .List .chat-list::-webkit-scrollbar{
  display: none;
}
.unread-badge{
  position:absolute;
  top:50%;
  right:30px;
  transform: translate(0%, -50%);
  width:15px;
  height:15px;
  z-index:2;
  border-radius: 100%;
  background-color: rgb(223, 73, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-button{
  position:absolute;
  top:50%;
  right:10px;
  transform: translate(0%, -50%);
  z-index:-100;
}
.chat-page .List .newChat{
  position:absolute;
  display:flex;
  flex-direction: column;
  padding:0px;
  top:30px;
  left:100%;
  width:0;
  height:0px;
  overflow: hidden;
  background-color: rgb(40, 39, 40);
  transform: translate(-50%, 0%);
  transition: 0.2s ease-in-out;
  z-index: 10;
}
.chat-page .List .newChat input{
  background-color: rgba(150,150,150,0.1);
  border: none;
  border-radius: 5px;
  padding:4px;
  border-bottom:1px solid white;
  color:white;
  font-size: 14px;
  max-height:25px;
  min-height:25px;
  width:100%;
}
.chat-page .List .newChat input:focus{
  outline: none;
  border-bottom: 1.5px solid plum;
}
.expandNewChat{
  height:90% !important;
  width:95% !important;
  padding:20px !important;
  border-radius:5px;
  box-shadow: 5px 5px 5px  inset rgba(98, 98, 98, 0.2), 5px 5px 5px  rgba(98, 98, 98, 0.2);
}
@media(max-width:550px){
  .chat-page .List .newChat{
    top:0px;
    height:100% !important;
    width:0px;
    transform: translate(0,0);
    left:auto;
    right:0px !important;
  }
  .expandNewChat{
    padding:20px !important;
    width:100% !important;
  }
}
.chat-page .List .expandNewChat .makeGroupButton{
  width:100%;
  display: flex;
  border-radius: 5px;
  align-items: center;
  gap:20px;
  padding:5px 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin:20px 0px;
}

.chat-page .List .expandNewChat .makeGroupButton:hover{
  background-color: rgb(65, 65, 65);
}
.chat-page .expandNewChat .makeGroup{
  position:absolute;
  top:0px;
  right:-500px;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index:11;
  height:100%;
  width:100%;
  overflow:hidden;
  background-color: rgb(40,40,40);
  transition:0.3s right ease-in-out;
  padding: 20px 0px !important;
}
.chat-page .expandNewChat .makeGroup input{
  background-color: rgba(150,150,150,0.1);
  border: none;
  border-radius: 5px;
  padding:4px;
  border-bottom:1px solid white;
  color:white;
  font-size: 14px;
  max-height:25px;
  min-height:25px;
  width:90%;
}
.expandMakeGroup{ 
  box-shadow: 5px 5px 5px  inset rgba(98, 98, 98, 0.2);
  right:0px !important;
}
.expandMakeGroup .groupMembersList{
  display: flex;
  width:90%;
  overflow: scroll;
  gap:10px;
}
.expandMakeGroup .groupMembersList::-webkit-scrollbar{
  display: none;
}
.expandMakeGroup .groupMembersList div{
  background-color: rgba(223, 73, 223, 0.5);
  margin-bottom:10px;
  width:60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 2px 0 0;
}

.expandMakeGroup .groupMembersList div p{
  padding:0 5px;
  font-size: 12px;
  width:45px;
  margin:0;
  white-space:nowrap;
  overflow: hidden;
}
.expandMakeGroup .GroupMembersList{
  width:100%;
  margin-top: 20px;
  overflow-y:scroll;
  padding:0 5%;
}
.expandMakeGroup .GroupMembersList::-webkit-scrollbar{
  width:5px;
}
.expandMakeGroup .GroupMembersList::-webkit-scrollbar-track{
  background: transparent;
}
.expandMakeGroup .GroupMembersList::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: rgb(135, 133, 133);
}
.expandMakeGroup .GroupMembersList .list-item{
  width:100%;
  position:relative;
  color:white;
  display: flex;
  border-radius: 5px;
  align-items: center;
  gap:20px;
  padding:10px 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  gap:10px;
}
.expandMakeGroup .groupMembersList::-webkit-scrollbar{
  display: none;
}
.chat-page .List .expandNewChat .searchedList{
  width:100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap:10px;
}
.chat-page .List .expandNewChat .searchedList::-webkit-scrollbar{
  display: none;
}
.chat-page .List .expandNewChat .searchedList .list-item{
  width:100%;
  position:relative;
  color:white;
  display: flex;
  border-radius: 5px;
  align-items: center;
  gap:20px;
  padding:10px 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  gap:10px;
  border: 1px solid rgb(50, 50, 50);
}
h3{
  margin:0px;
}
.chat-page .List .expandNewChat .searchedList .list-item:hover{
  background-color: rgb(65, 65, 65);
}


.chat-page .message{
  flex:1;
  position: relative;
  background-image: url("https://camo.githubusercontent.com/ebf18cd85f7aa9dc79fb74c58dc94febf3a6441d8d689cd5a400b2707e19ec0e/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67");
  min-width:270px;
  height:100%;
  transition:0.3s ease-in-out;
}
@media(max-width:550px){
  .chat-page{
    padding:40px 0px 0px 40px;
  }
  .profile-photo{
    left:20px !important;
    width:30px !important;
  }
  .chat-page .header{
    font-size: 20px;
    top:15px;
  }
  .logout-button{
    top:15px !important;
  }
  .List{
    min-width:0 !important;
    max-width:0 !important;
    position:relative;
    overflow-x: hidden;
  }
  .message{
    min-width:0 !important;
    max-width:0 !important;
    overflow-x: hidden;
    border-top-left-radius: 10px;
  }
  .show{
    /* min-width:100% !important; */
    max-width:100% !important;
  }
}
.chat-page .message .after{
  position: absolute;
  z-index:0;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  height:100%;
  background-color: rgba(42, 41, 42, 0.8);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  flex-grow: 1;
  gap:10px;
}
.chat-page .message .after .profile-tab{
  width:100%;
  height:70px;
  background-color: rgba(40, 39, 40, 0.9);
  border:1px solid rgb(27,27,27);
  color:white;
  display: flex;
  justify-content: start;
  align-items: center;
  gap:10px;
  padding-left: 10px;
}
.chat-page .message .after .profile-tab .nameAndStatus{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.chat-page .message .after .profile-tab .nameAndStatus h2{
  font-size: 14px;
  margin:0;
}
.chat-page .message .after .profile-tab .nameAndStatus .online-status{
  color:rgb(100, 100, 100);
  font-size: 12px;
  margin:0;
}



.chat-page .message .after .messaging-tab{
  display: flex;
  border: 1px solid white;
  width:98%;
  border-radius: 100px;
  max-height:50px;
  flex-grow: 1;
  gap:20px;
  margin-bottom: 10px;
  align-items: center;
  backdrop-filter: blur(0.5px);
}
.chat-page .message .after .messaging-tab input{
  background-color: transparent;
  border-radius:100px;
  border:none;
  flex:1;
  padding:0px 20px 0px 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  min-width:0px;
}

.chat-page .message .after .messaging-tab input:focus{
  outline: none;
}
.chat-page .message .after .messages{
  width:100%;
  padding:10px;
  flex:1;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  gap:5px;
  /* scroll-behavior:smooth; */
}
.chat-page .message .after .messages::-webkit-scrollbar{
  width:5px;
}
.chat-page .message .after .messages::-webkit-scrollbar-track{
  background: transparent;
}
.chat-page .message .after .messages::-webkit-scrollbar-thumb{
  background: rgb(135, 133, 133); 
  border-radius: 6px;
  border: none;
}

.chat-page .message .after .messages .message-by-me{
  width:100%;
  display: flex;
  justify-content: right;
  height:fit-content;
}
.chat-page .message .after .messages .message-by-senderName{
  width:fit-content;
  height:fit-content;
  margin:0;
  /* margin-left:13px; */
  background-color: rgb(135, 133, 133);
  padding:0 5px;
  border-radius: 5px;;
  margin-bottom:10px;
}
.chat-page .message .after .messages .message-by-senderName .text p{
  font-size: 12px;
  color:rgb(197, 195, 195);
  margin:0px;
 
}
.chat-page .message .after .messages .message-by-me .text{
  max-width:50%;
  background-color: rgb(223, 73, 223);
  border-radius:5px;
  display: flex;
  gap:10px;
}

@media (max-width:800px){
  .chat-page .message .after .messages .message-by-me .text{
    max-width: 75% !important;
  }
  .chat-page .message .after .messages .message-by-partner .text{
    max-width: 75% !important;
  }
}
.chat-page .message .after .messages .message-by-me p{
  padding:13px;
  font-size: 18px;
  color:white;
  overflow: hidden;
  margin:0;
  border-radius:5px;
  position:relative;
  
  overflow-wrap: break-word;
}
.chat-page .message .after .messages .message-by-partner{
  width:100%;
  display: flex;
  justify-content: left;
  height:fit-content;
}
.chat-page .message .after .messages .message-by-partner .text{
  max-width:50%;
  background-color: rgb(40, 39, 40);
  border-radius:5px;
  display: flex;
  gap:10px;
}
.chat-page .message .after .messages .message-by-partner p{
  color:white;
  padding: 13px;
  overflow: hidden;
  margin:0;
  overflow-wrap: break-word;
  position: relative;
} 
.chat-page .message .after .messages .message-by-partner  .timeStamp{
  color:rgb(135, 133, 133);
  font-size: 10px;
  min-width:30px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.chat-page .message .after .messages .message-by-me  .timeStamp{
  color:rgb(197, 195, 195);
  font-size: 10px;
  min-width:30px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.profileInfo{
  position:absolute;
  width:300px;
  background-color:rgb(40, 39, 40);
  display:flex;
  flex-direction: column;
  align-items: center;
  top:10px;
  left:10px;
  z-index: 1000;
  /* padding:20px; */
  max-height: 0px;
  box-shadow: 5px 5px 5px  inset rgba(98, 98, 98, 0.2), 5px 5px 5px  rgba(98, 98, 98, 0.2);
  border-radius:10px;
  transition:0.3s  ease-in-out;
  overflow:hidden;
}
.showProfileInfo{
  padding:20px;
  max-height:450px; /* Adjust this value as needed */
  overflow-y:scroll;
}
.showProfileInfo::-webkit-scrollbar{
  display: none;
}
.profileInfo h1{
  font-size:25px;
}
@media (max-width:700px) and (min-width:550px) {
  .profileInfo{
    width:250px;
  }
  .profileInfo h1{
    font-size:20px;
  }
  .profileInfo p{
    font-size:14px !important;
  }
  
}
.profileInfo .contact-photo{
  margin:20px;
  width:70%;
  border-radius:100%;
  aspect-ratio: 1/1; 
}
.settings{
  position:absolute;
  left:2px;
  bottom:2px;
  height:0px;
  width:0;
  display:flex;
  flex-direction: column;
  gap:10px;
  background-color: rgb(40, 39, 40);
  z-index:1; /* Increased z-index to ensure it is above .List */
  overflow: hidden;
  transition:0.2s ease-in-out;
  box-shadow: 5px 5px 5px  inset rgba(98, 98, 98, 0.2), 5px 5px 5px  rgba(98, 98, 98, 0.2);
  border-radius: 10px;
  padding:0 10px; 
}
.showSettings{
  height:300px;
  width:270px;
  padding: 5px 10px;
}
.settings .logout{
  border-radius:5px;
  background-color: rgb(237, 72, 72);
  border:none;
  cursor:pointer;
}
.settings .settings-item{
  padding:5px 5px;
}
.settings .profile-edit{
  position:relative;
  border-radius:5px;
  border:none;
  display: flex;
  align-items: center;
  gap:10px;
  cursor:'pointer';
}
.settings .profile-edit:hover{
  background-color: rgb(65,65,65);
}

.editingData{
  height:500px;
  width:300px;
}
.editingData .edit-name input:focus{
  outline: none;
  border-bottom: 1px solid plum;
}
.list-of-members{
  width:100%;
  display:flex;
  flex-direction: column;
  margin-top:20px;
}
.list-of-members .member{
  width:100%;
  display:flex;
  gap:5px;
  border-radius:10px;
  transition: 0.2s ease-in-out;
  padding:5px;
}
.list-of-members .member:hover{
  background-color: #414141;
}