body {
  margin: 0;
}
:root{
  --background-color: rgba(40, 39, 40, 0.9);
  --color-light:white;
}

*{
  box-sizing: border-box;
}

.enter-page{
  width:100%;
  height:100vh;
  background-color: var(--background-color);
  background-position: center;
  background-image: url("https://camo.githubusercontent.com/ebf18cd85f7aa9dc79fb74c58dc94febf3a6441d8d689cd5a400b2707e19ec0e/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67");
  display:flex;
  justify-content: center;
  align-items: center;
}

.detail-form{
  width:300px;
  height:400px;
  background-color: rgba(40, 39, 40, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding:0 20px;
 
  
}
.detail-form h1{
  color:var(--color-light);
  width:100%;
  text-align: center;
}
.detail-form input{
  width:100%;
  background-color: transparent;
  color:var(--color-light);
  font-size: 16px;
  border: 1px solid white;
  border-radius: 50px;
  padding : 10px 10px;
  margin-top:30px;
}
.detail-form button{
  font-size: 16px;
  background-color: rgba(10, 152, 50, 1);
  color: white;
  border: none;
  width:fit-content;
  padding:5px 10px;
  border-radius:100px;
  position: relative;
  left:100%;
  transform: translate(-100%, 0%);
  font-weight: 600;
  transition: 0.2s;
}
.detail-form p{
  color:white;
}
.detail-form .error{
  margin:0px;
  height:12px;
  font-size: 12px !important;
  color:rgb(205, 17, 17) !important;
}
.detail-form p a{
  color:rgb(92, 168, 231)
}
.detail-form button:hover{
  cursor: pointer;
  background-color: rgb(8, 122, 40);
}
.signup .detail-form input{
  margin-top:15px;
}

.chat-page{
  background-color: rgb(25, 25, 25);
  width:100%;
  height:100vh;
  display: flex;
  padding:50px 0px 0px 50px;
  flex-grow: 1;
  flex-direction: row;
  position: relative;
  /* justify-content: stretch; */
}
.chat-page .header{
  color:white;
  position:absolute;
  top:25px;
  left:10px;
  font-size: 30px;
  transform: translate(0, -50%);
}
.chat-page .List{
  flex:1;
  min-width:200px;
  max-width:350px;
  background-color: rgba(40, 39, 40, 1);
  border-right:1px solid  rgb(27, 27, 27);
  height: 100%;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
  transition:0.3s ease-in-out;
}
.chat-page .List .chat-list{
  overflow-y: scroll;
  padding:2%;
  display: flex;
  flex-direction: column;
  gap:5px;
}
.chat-page .List .chat-list .list-item{
  width:100%;
  position:relative;
  color:white;
  display: flex;
  border-radius: 5px;
  border: 1px solid rgb(65, 65, 65);
  align-items: center;
  gap:20px;
  padding:0 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.chat-page .List .chat-list .list-item:hover{
  background-color: rgb(65, 65, 65);
}

.chat-page .List .action{
  display: flex;
  flex-direction: column;
  color: white;
  padding:10px;
}
.chat-page .List .action .nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.chat-page .List .action input{
  background-color: rgba(150,150,150,0.1);
  border: none;
  border-radius: 5px;
  padding:4px;
  border-bottom:1px solid white;
  color:white;
  font-size: 14px;
}
.chat-page .List .action input:focus{
  outline: none;
  border-bottom: 1px solid plum;

}
.chat-page .List .chat-list::-webkit-scrollbar{
  display: none;
}
.chat-page .message{
  flex:1;
  position: relative;
  background-image: url("https://camo.githubusercontent.com/ebf18cd85f7aa9dc79fb74c58dc94febf3a6441d8d689cd5a400b2707e19ec0e/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67");
  min-width:270px;
  height:100%;
  transition:0.3s ease-in-out;
}
@media(max-width:550px){
  .chat-page{
    padding:30px 0px 0px 30px;
  }
  .chat-page .header{
    font-size: 20px;
    top:15px;
  }
  .logout-button{
    top:15px !important;
  }
  .List{
    min-width:0 !important;
    max-width:0 !important;
    /* padding:0px !important; */
    overflow-x: hidden;
  }
  .message{
    min-width:0 !important;
    max-width:0 !important;
    overflow-x: hidden;
    border-top-left-radius: 10px;
  }
  .show{
    /* min-width:100% !important; */
    max-width:100% !important;
  }
}
.chat-page .message .after{
  position: absolute;
  z-index:0;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  height:100%;
  background-color: rgba(42, 41, 42, 0.8);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  flex-grow: 1;
  gap:10px;
}
.chat-page .message .after .profile-tab{
  width:100%;
  height:70px;
  background-color: rgba(40, 39, 40, 0.9);
  border:1px solid rgb(27,27,27);
  color:white;
  display: flex;
  justify-content: start;
  align-items: center;
  gap:10px;
  padding-left: 10px;
}
.chat-page .message .after .profile-tab .nameAndStatus{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.chat-page .message .after .profile-tab .nameAndStatus h2{
  font-size: 14px;
  margin:0;
}
.chat-page .message .after .profile-tab .nameAndStatus .online-status{
  color:rgb(100, 100, 100);
  font-size: 12px;
  margin:0;
}



.chat-page .message .after .messaging-tab{
  display: flex;
  border: 1px solid white;
  width:98%;
  border-radius: 100px;
  max-height:50px;
  flex-grow: 1;
  gap:20px;
  margin-bottom: 10px;
  align-items: center;
  backdrop-filter: blur(0.5px);
}
.chat-page .message .after .messaging-tab input{
  background-color: transparent;
  border-radius:100px;
  border:none;
  flex:1;
  padding:0px 20px 0px 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  min-width:0px;
}

.chat-page .message .after .messaging-tab input:focus{
  outline: none;
}
.chat-page .message .after .messages{
  width:96%;
  flex:1;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  gap:5px;
}
.chat-page .message .after .messages::-webkit-scrollbar{
  display:none;
}

.chat-page .message .after .messages .message-by-me{
  width:100%;
  display: flex;
  justify-content: right;
  height:fit-content;
}
.chat-page .message .after .messages .message-by-me .text{
  max-width:50%;
  background-color: rgb(223, 73, 223);
  border-radius:5px;
  display: flex;
  gap:10px;
}

@media (max-width:800px){
  .chat-page .message .after .messages .message-by-me .text{
    max-width: 75% !important;
  }
  .chat-page .message .after .messages .message-by-partner .text{
    max-width: 75% !important;
  }
}
.chat-page .message .after .messages .message-by-me p{
  padding:13px;
  font-size: 18px;
  color:white;
  overflow: hidden;
  margin:0;
  border-radius:5px;
  position:relative;
}
.chat-page .message .after .messages .message-by-partner{
  width:100%;
  display: flex;
  justify-content: left;
  height:fit-content;
}
.chat-page .message .after .messages .message-by-partner .text{
  max-width:50%;
  background-color: rgb(40, 39, 40);
  border-radius:5px;
  display: flex;
  gap:10px;
}
.chat-page .message .after .messages .message-by-partner p{
  color:white;
  padding: 13px;
  overflow: hidden;
  margin:0;
 
  position: relative;
} 
.chat-page .message .after .messages .message-by-partner  .timeStamp{
  color:rgb(135, 133, 133);
  font-size: 10px;
  min-width:30px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.chat-page .message .after .messages .message-by-me  .timeStamp{
  color:rgb(197, 195, 195);
  font-size: 10px;
  min-width:30px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.logout-button{
  position: absolute;
  top:25px;
  right:10px;
  transform: translate(0%, -50%);
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.unread-badge{
  position:absolute;
  top:50%;
  right:10px;
  transform: translate(0%, -50%);
  width:10px;
  height:10px;
  z-index:100;
  border-radius: 100%;
  background-color: rgb(223, 73, 223);
}
